{% extends 'user/base.html' %}

{% block title %}Reset Done{% endblock %}

{% block content %}

<!--Password reset sent-->
<div style="border-radius: 20px; padding: 0px 10px 2px 10px;">
	<h2 class="font-weight-bold">Password Sent</h2>
	<hr style="margin: 0px 12px 0px 12px">
	<p style="padding: 10px 0px; font-size: 18px">We've emailed you instructions for setting your password, if an
		account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email,
		please make sure you've entered the address you registered with, and check your spam folder.</p>
	<div style="margin: 20px auto 20px auto; position: relative;">
		<a class="btn btn-form" style="width: 60%; height: auto; font-weight: 400;" href="/">Back to SOUNDeeD</a>
	</div>
</div>

{% endblock %}