{% extends 'user/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}

{% load crispy_forms_tags %}          
<div id="forgotten-container" style="font-size: 13px;">
	<div style="margin: 0 auto 0 auto;padding-top: 0.5px;">
		<a id="close-btn" href="/login"></a>
    	<h2>CHANGE PASSWORD</h2>
  	</div>
	<hr style="margin: 0px 12px 0px 12px">
	<form method="POST" class>
		{% csrf_token %}
		{{ form }}  
		<div style="margin: 20px auto 0 auto;">
			<button class="btn btn-form" type="submit">Change Password</button>
		</div>
		<div style="padding: 20px;"><!--set padding--></div>
	</form>
</div>
{% endblock %}