{% extends 'user/base.html' %}

{% block title %}New Password{% endblock %}

{% block content %}

  {% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->

    <div style="margin: 0 auto 0 auto; padding: 2px 0px">
        <h2>CONFIRM PASSWORD</h2>
    </div>
    <hr style="margin: 0px 12px 0px 12px">
    <p style="font-size: 15px;">Please enter your new password.</p>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}                    
        <div style="margin: 20px auto 0px auto; padding-bottom: 20px;position: relative; font">
            <button class="btn btn-form" type="submit">Reset Password</button>
            </div>
    </form>


{% endblock %}