{% extends 'user/base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}

{% load crispy_forms_tags %}          
<div id="forgotten-container">
	<div style="margin: 0 auto 0 auto;padding-top: 0.5px;">
		<a id="close-btn" href="/login"></a>
    	<h2>RESET PASSWORD</h2>
  	</div>
	<hr style="margin: 0px 12px 0px 12px">
	<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
	<form method="POST" class="password-form">
		{% csrf_token %}
		{{ password_reset_form.email }}                    
		<div style="margin: 20px auto 0 auto;">
			<button class="btn btn-form" type="submit">Send Email</button>
		</div>
		<div style="padding: 20px;"><!--set padding--></div>
	</form>
</div>
{% endblock %}