{% extends 'user/base.html' %}

{% block title %}Reset Completed{% endblock %}

{% block content %} 
  
  <!--Password Reset Complete-->
	  <h2 class="font-weight-bold">RESET COMPLETE</h2>
		<hr style="margin: 0px 12px 0px 12px">
    <p>Your password has been set. You may go ahead and log in now.</p>                 
    <div style="margin: 20px auto 20px auto; padding-bottom: 20px; position: relative;">
			<button class="btn btn-form" type="submit"><a href="/login" style="background-color: transparent; color:black">Log in</a></button>
		</div>	  
{% endblock %}