<div id="about-con" class="d-none">
    <div class="container no-select">
        <a href="#about" class="text-decoration-none">
            <h2 class="text-center mx-auto py-4" style="font-size: 35px; line-height: 50px;">ABOUT <b>SOUNDeeD</b></h2>
        </a>
        <div class="px-3">
            <p> <b>SOUNDeeD</b> is a website which is designed to help you relax, focus with your work, study,....
            </p>
            <p>

            </p>
            <p>But other types of noise can be distracting, irritating, or even stressful -- the hammering from the
                building site across the street, the stomping of the neighbors in the apartment upstairs, or the
                thumping bass from the party outside.
            </p>
        </div>
        <div class="px-3">
            <p><b>SOUNDeeD</b> is designed to help you ignore bothersome noise by playing custom ambient sounds to suit your
                environment.
            </p>
            <p>
                There are quite a few sounds for you to choose from: rain, birdsong, wind blowing, and so on. You can
                mix them together for the best experience. You can mix them together for the best experience. Moreover, when you sign
                up for an account here, you can keep your own playlists of your favorites because we know it's hard for
                hard-core people to find a playlist of many sounds mixed with each sound having a different volume is
                very difficult.
            </p>
            <p>
                If you need a watch to determine how long you need to focus, then the Podoromo is the best choice for
                you. Podoromo is integrated into the website allowing you to customize the countdown interval and notify
                you if the time is up. Of course, it helps you to manage your time better without having to look at your
                watch every time you are concentrating on work.
            </p>
            <p>
                If you are tired of looking at the background of the website, you can choose from different backgrounds
                from the website, including dynamic or static wallpapers. Don't worry about it, our web-integrated
                backgrounds have been carefully selected for your comfort.
            </p>
            <p>
                To increase your ability to focus on the sounds created by you, we recommend using earplugs. These tend
                to work well for some frequencies of sounds and less well for others. I would sometimes wear earplugs,
                then put my over-ear noise-canceling headphones on top playing ambient music and nature sounds. It’s
                amazing what the mind comes up with when you really, really need to sleep.
            </p>
            <div class="px-3">
                <p>
                    I hope <b>SOUNDeeD</b> is enjoyable and useful for you and we you have a relaxing day! From <b>nh4ttruong</b> and <b>dr00py</b> with love!
                </p>
            </div>
        </div>
    </div>
</div>