<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOUNDeeD·404</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/error.css' %}" type="text/css">
    
</head>
<body>
    {% include "pages/head.html" %}
    <div id="main">
        <div class="fof">
            <h1 class="font-weight-bold">Oops, an error occurred!</h1>
        </div>
    </div>
</body>
</html>

