{% load static %}

<div id="info" class="info">
    <span id="playlistTitle" class="sound-name">Test Name</span>
</div>
<div id="control-panel" class="control-panel">
    <div class="disc d-none d-md-block"></div>
    <div class="controls">
        <a href="#elements">
            <div id="elements" class="list" onclick="showSound()"></div>
        </a>
        <a href="#playsound">
            <div id="play" class="play" onclick="playSound()"></div>
        </a>
        <a href="#podomoro">
            <div id="podomoro" class="podomoro" onclick="showPodomoro()"></div>
        </a>
    </div>
</div>
